@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #2d3e50;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #000, #111); /* Fondo de cielo */
  color: white;
}


.tree {
    position: relative;
    text-align: center;
}

.star {
    font-size: 2rem;
    color: gold;
    position: relative;
    z-index: 10;
    margin-bottom: -25px
}

.layer {
    position: relative;
    width: 0;
    height: 0;
    margin: 0 auto;
}

.layer1 {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #28a745;
    margin-top: 10px;
}

.layer2 {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid #28a745;
    margin-top: -20px;
}

.layer3 {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid #28a745;
    margin-top: -30px;
}

.trunk {
    width: 40px;
    height: 50px;
    background: #8b4513;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 4px;
}

.title {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: 100px;
    width: 100%;
    transform: rotate(-30deg);
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000, 0 0 60px #ff0000, 0 0 70px #ff0000;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #008000, 0 0 30px , 0 0 40px  #008000 , 0 0 50px  #008000 , 0 0 60px #008000 , 0 0 70px  #008000 , 0 0 80px  #008000 ;
    }
  }