@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #24313f;
    font-family: 'Arial', sans-serif;
    color: #fff;
}


.tree {
    position: relative;
    text-align: center;
}

.star {
    font-size: 2rem;
    color: gold;
    position: relative;
    z-index: 10;
    margin-bottom: -25px
}

.layer {
    position: relative;
    width: 0;
    height: 0;
    margin: 0 auto;
}

.layer1 {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #28a745;
    margin-top: 10px;
}


.layer2 {
    border-left: 150px solid transparent;
    border-right: 150px solid transparent;
    border-bottom: 150px solid #28a745;
    margin-top: -20px;
    
}

.layer3 {
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 200px solid #28a745;
    margin-top: -30px;
}

.trunk {
    width: 40px;
    height: 50px;
    background: #8b4513;
    margin: 0 auto;
    margin-top: -20px;
    border-radius: 4px;
}

.ball {
    width: 13px;
    height: 13px;
    position: absolute;
    z-index: auto;
    border-radius: 100%;
 }
 
 .layer1 .red{
     top: 10px;
     left: 5px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-delay: 0.1;
     animation-timing-function: ease-in;
     animation-iteration-count:1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer1 .green{
     top: 30px;
     right: 20px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 0.3s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer1 .blue{
     top: 35px;
     left: 20px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 0.5s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .red:nth-child(1){
     top: 20px;
     left: 9px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 0.7s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .green:nth-child(2){
     top: 30px;
     right: 10px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 0.9s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .blue:nth-child(3){
     top: 60px;
     right: 30px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 1.1s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .red:nth-child(4){
     top: 70px;
     left: 10px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 1.3s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .blue:nth-child(5){
     top: 70px;
     left: 10px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 1.5s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .green:nth-child(6){
     top: 50px;
     left: 30px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 1.7s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .red:nth-child(7){
     top: 70px;
     right: 10px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 1.9s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .green:nth-child(8){
     top: 90px;
     left: 30px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 2.1s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .blue:nth-child(9){
     top: 90px;
     left: 60px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 2.3s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .red:nth-child(10){
     top: 100px;
     right: 80px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 2.5s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .blue:nth-child(11){
     top: 80px;
     right: 60px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 2.7s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer2 .green:nth-child(12){
     top: 110px;
     left: 10px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 2.9s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 /* Layer 3 */
 
 .layer3 .red:nth-child(1){
     top: 120px;
     right: 80px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 3.1s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .blue:nth-child(2){
     top: 80px;
     right: 60px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 3.3s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .blue:nth-child(3){
     top: 100px;
     right: 10px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 3.5s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .red:nth-child(4){
     top: 50px;
     right: 10px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 3.7s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .green:nth-child(5){
     top: 60px;
     left: 30px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 3.9s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .green:nth-child(6){
     top: 120px;
     left: 30px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 4.1s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .blue:nth-child(7){
     top: 130px;
     left: 60px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 4.3s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .blue:nth-child(8){
     top: 40px;
     left: 20px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 4.5s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .red:nth-child(9){
     top: 50px;
     right: 10px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 4.7s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .green:nth-child(10){
     top: 120px;
     left: 30px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 4.9s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .green:nth-child(11){
     top: 150px;
     left: 10px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 5.1s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .blue:nth-child(12){
     top: 130px;
     right: 60px;
     background-color: blue;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 5.3s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .red:nth-child(13){
     top: 120px;
     right: 3px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 5.5s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .red:nth-child(14){
     top: 100px;
     left: 60px;
     background-color: red;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 5.7s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }
 
 .layer3 .green:nth-child(15){
     top: 20px;
     right: 10px;
     background-color: green;
     animation-name: bounce-in;
     animation-duration: 0.5s;
     animation-timing-function: ease-in;
     animation-delay: 5.9s;
     animation-iteration-count: 1;
     animation-direction: normal;
     animation-fill-mode: none;
 }

/* Glowing Text */
.title {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    font-family: 'Pacifico', cursive;
    position: absolute;
    top: -65%;
    width: 95%;
  }
  
  @keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000, 0 0 50px #ff0000;
    }
    
    to {
      text-shadow: 0 0 10px #fff, 0 0 20px #008000, 0 0 30px , 0 0 40px  #008000 , 0 0 50px  #008000;
    }
  }

  /* Swinging balls */

  #box0, #box1, #box2, #box3{
    position: absolute;
    height: 200px;
    width: 200px;
    left: 15%;
    top: 10px;
    background: #934;
    border-radius: 100px;
    box-shadow: inset 22px 0 23px rgba(50,50,50,0.4);
    animation: swing ease-in-out 3000ms infinite;
    transform: scale(0.02) translate(0px, 500px);
    /*Enable this line to really make your machine sweat!*/
    /*-webkit-animation-name: swing, blur;*/
  }
  
  #box0{
    left: -150%;
  }
  #box1{
    background: #77f;
    left: -60%;
   animation-delay: 800ms;
  }
  
  #box2{
    background: #dc7;
    left: 105%;
    animation-delay: 300ms;
  }
  
  #box3{
    background: #8Fa;
    left:185%;
    animation-delay: 500ms;
  }
  
  #box0::before{
    height:4000px;
    width: 6px;
    margin-left: 90px;
    margin-top: -4005px;
    display:block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 15px solid #ff0;
    border-radius: 5px 0 5px 5px;
  }
  
  #box0::after{
    content: "";
    border-left: 13px solid rgba(255,255,255,0.2);
    border-top: 13px solid rgba(255,255,255,0.2);
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin-left: 30px;
    margin-top: 15px;
    display: block;
    transform: rotate(170deg)
  }
  
  #box1::before{
    height:4000px;
    width: 6px;
    margin-left: 90px;
    margin-top: -4005px;
    display:block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 15px solid #ff0;
    border-radius: 5px 0 5px 5px;
  }
  
  #box1::after{
    content: "";
    border-left: 13px solid rgba(255,255,255,0.2);
    border-top: 13px solid rgba(255,255,255,0.2);
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin-left: 30px;
    margin-top: 15px;
    display: block;
    transform: rotate(170deg)
  }

  #box2::before{
    height:4000px;
    width: 6px;
    margin-left: 90px;
    margin-top: -4005px;
    display:block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 15px solid #ff0;
    border-radius: 5px 0 5px 5px;
  }
  
  #box2::after{
    content: "";
    border-left: 13px solid rgba(255,255,255,0.2);
    border-top: 13px solid rgba(255,255,255,0.2);
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin-left: 30px;
    margin-top: 15px;
    display: block;
    transform: rotate(170deg)
  }

    #box3::before{
    height:4000px;
    width: 6px;
    margin-left: 90px;
    margin-top: -4005px;
    display:block;
    content: "";
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 15px solid #ff0;
    border-radius: 5px 0 5px 5px;
  }
  
  #box3::after{
    content: "";
    border-left: 13px solid rgba(255,255,255,0.2);
    border-top: 13px solid rgba(255,255,255,0.2);
    height: 150px;
    width: 150px;
    border-radius: 150px;
    margin-left: 30px;
    margin-top: 15px;
    display: block;
    transform: rotate(170deg)
  }

  @keyframes swing {
    0%{
       transform: scale(0.02) translate(0px, 500px);
    }
    50%{
       transform: scale(1) translate(0px, 0px);
    }
    100%{
       transform: scale(0.02) translate(0px, 500px);
    }
  }
  
  @keyframes blur {
    0%{
       -webkit-filter: blur(5px);
    }
    50%{
       -webkit-filter: blur(0px);
    }
    100%{
       -webkit-filter: blur(5px);
    }
  }

/* Bounce in animation */
.bounce-in {
    animation: bounce-in 2s ease infinite;
  }
  @keyframes bounce-in {
    0% {
      opacity: 0;
      transform: scale(.3);
    }
    50% {
      opacity: 1;
      transform: scale(1.05);
    }
    70% { transform: scale(.9); }
    100% { transform: scale(1); }
  }
  